*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    min-width: 1200px;
}


.splash-page {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #02d755;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.splash-page.hidden {
    transition: all 2s linear;
    opacity: 0;
}

.splash-page.hidden.d-none {
    display: none;
}

h1{
    font-size: 3em;
    padding-bottom: 1em;
}

.head-container {
    height: 20vh;
    background-color: #009688;
}

.bottom-container {
    height: 80vh;
    background-color: #d9dbd6;
}

.welcome {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: black;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-welcome {
    background-color: white;
    width: 50%;
}


.inner-welcome .title{
    text-align: center;
}

.inner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 90vh;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    min-width: 1200px;
}

.inner-container img {
    width: 40px;
    border-radius: 50%;
}

.inner-container-l {
    width: 30%;
    background-color: white;
    height: 100%;
}

.inner-container-r {
    width: 70%;
    background-color: white;
    height: 100%;
}

.p-relative{
    position: relative;
}

.profile {
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea;
    padding: 10px;
    border-right: 1px #ededed;
}

.profile > div {
    display: flex;
    align-items: center;
}

.head-profile .deleteAll {
    position: absolute;
    top: 50px;
    right: 0;
    color: black;
}

.head-profile .deleteAll > div {
    background-color: white;
}

.head-profile .deleteAll > div:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.border {
    border: 1px #ebebeb;
}

.c-grey {
    color: #b1b1b1;
}

.c-grey i {
    padding-right: 10px;
}

.notification {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color:#4fc2f7;
}

.notification i{
    font-size: 1.5em;
    padding: 10px;
    background-color: honeydew;
    border-radius: 50%;
    color: #4fc2f7;
} 

.notification a{
    font-size: 0.8em;
}

.search {
    padding: 5px;
    background-color: #eaeaea;
}

.input {
    background-color: white;
    padding: 5px;
    display: flex;
}

.input input {
    border: none;
    outline: none;
    width: 100%;
}

.users li{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.users li:hover {
    background-color: #e9ebeb;
    cursor: pointer;
}

.users li > div {
    display: flex;
}

.received {
    font-size: 0.7em;
}

.w-50 {
    width: 160px;
}

.users {
    height: calc(100% - 160px);
    overflow: auto;
}

.user-profile {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color:#eaeaea;
}

.user-profile > div {
    display: flex;
    align-items: center;
}

.user-profile i {
    color: grey;
}

.last-access{
    font-size: 0.7em;
    color:grey;
}


.body-messages {
    background-image: url(../img/mine.jpg);
    height:calc(100% - 130px);
    overflow: auto;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
}

.body-messages li {
    
    padding: 10px;
    background-color: #ffffff;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.down {
    position: relative;
}

.down i {
    cursor: pointer;
}

.down .appear {
    position: absolute;
    top: 30px;
    left: -10px;
    background-color: azure;
    width: 100%;
    border-radius: 5px;
    line-height: 25px;
}


.down .appear div:hover {
    background-color: #e8ebeb;
    cursor: pointer;
} 

.body-messages .send {
    align-self: flex-end;
    background-color: #dbf8c6;
}

.body-messages .date {
    font-size: 0.8em;
    align-self: flex-end;
}

.messages {
    padding: 11px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#eaeaea ;
    height: 70px;
}

ul li {
    list-style: none;
}

.messages i {
    font-size: 2em;
    color: #ffffff;
}

.messages input {
    width: 80%;
    outline: none;
    border:none;
    padding: 10px 0;
    border-radius: 10px;
}