* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

html {
    color: black;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    min-width: 1200px;
}

.head-container {
    height: 20vh;
    background-color: #009688;
}

.bottom-container {
    height: 80vh;
    background-color: #d9dbd6;
}

.inner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 90vh;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    min-width: 1200px;
}

.inner-container img {
    width: 40px;
    border-radius: 50%;
}

.inner-container-l {
    width: 30%;
    background-color: white;
    height: 100%;
}

.inner-container-r {
    width: 70%;
    background-color: white;
    height: 100%;
}

.p-relative{
    position: relative;
}

.profile {
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea
    ;
    padding: 10px;
    border-right: 1px solid grey;
}

.profile div {
    display: flex;
    align-items: center;
}

.c-grey {
    color: #b1b1b1;
}

.c-grey i {
    padding-right: 10px;
}

.notification {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #8edafc;
}

.notification i{
    font-size: 1.5em;
    padding: 10px;
    background-color: honeydew;
    border-radius: 50%;
    color: #8edafc;
} 

.notification a{
    font-size: 0.8em;
}

.search {
    padding: 5px;
    background-color: #eaeaea
    ;
}

.input {
    background-color: white;
    padding: 5px;
    display: flex;
}

.input input {
    border: none;
    outline: none;
    width: 100%;
}

.users li{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.users li:hover {
    background-color: #e9ebeb;
    cursor: pointer;
}

.users li > div {
    display: flex;
}

.received {
    font-size: 0.7em;
}

.w-50 {
    width: 160px;
}

.users {
    height: calc(100% - 160px);
    overflow: auto;
}

.user-profile {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color:#eaeaea ;
}

.user-profile > div {
    display: flex;
    align-items: center;
}

.user-profile i {
    color: grey;
}

.last-access{
    font-size: 0.7em;
    color:grey ;
}

.body-messages {
    background-image: url(../img/mine.jpg);
    height:calc(100% - 130px);
    overflow: auto;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
}

.body-messages li {
    padding: 10px;
    background-color: white;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.body-messages .send {
    align-self: flex-end;
    background-color: chartreuse;
}

.body-messages .date {
    font-size: 0.8em;
    align-self: flex-end;
}

.messages {
    padding: 11px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#eaeaea ;
    height: 70px;
}

ul li {
    list-style: none;
}

.messages i {
    font-size: 2em;
    color: grey;
}

.messages input {
    width: 80%;
    outline: none;
    border:none;
    padding: 10px 0;
    border-radius: 10px;
}
